<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
</head>
<body>

<div id="app">
    {{ name | euro }}
</div>

<script>

    Vue.filter('euro', function (value) {
        if (!value)
            return '';
        return new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'EUR',
        }).format(value);
    });
    new Vue({
        el: '#app',
        data: {
            name: '12123.33'
        }
    })

</script>
</body>
</html>
